- name: Installing {{ component }} Server
  ansible.builtin.yum:
    name: nginx
    state: latest

- name: Remove a directory
  ansible.builtin.file:
    path: /usr/share/nginx/html
    state: absent

- name: Create a directory
  ansible.builtin.file:
    path: /usr/share/nginx/html
    state: directory

- name: Downloading new app content
  ansible.builtin.unarchive:
    src: https://roboshop-artifacts.s3.amazonaws.com/{{ component }}.zip
    dest: /usr/share/nginx/html
    remote_src: yes

- name: Configuring Reverse Proxy
  ansible.builtin.template:
    src: roboshop.conf
    dest: /etc/nginx/default.d/roboshop.conf

- name: Starting and Enabling Nginx Server
  ansible.builtin.service:
    name: nginx
    state: restarted
    enabled: yes
