- name: Copying Service File
  ansible.builtin.copy:
    src: mongo.repo
    dest: /etc/yum.repos.d/mongodb.repo

- name: Installing Mogodb
  ansible.builtin.yum:
    name: mongodb-org-shell
    state: latest

- name: Installing Nodejs Server
  ansible.builtin.shell: mongo --host mongodb-dev.rkdevops.store </app/schema/{{ component }}.js
